.product{
    border:1px solid #ccc;
    padding:20px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px;
    min-width: 200px;
}

button {
    background:none;
    border:2px solid;
}



.ctaButton{
    background-color: blue;
    color:white;
}